<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wml.dao.UserInfoDao">
    <!--插入用户信息-->
    <insert id="insertIntoUserInfo" parameterType="com.wml.entity.UserInfo">
        INSERT INTO `tb_user` (userName,password,realName,business,email,addDate,updateDate,state)
        VALUES (#{userName}, #{password}, #{realName}, #{business}, #{email},now(),null,'1');
    </insert>

    <!--根据用户名查找用户信息-->
    <select id="getUserInfoByUserName" parameterType="java.lang.String"
            resultType="com.wml.entity.UserInfo">
        select * from tb_user where userName = #{username}
    </select>

    <!--查询所有用户名-->
    <select id="getUserNames" resultType="java.lang.String">
        select userName from tb_user
    </select>

    <!--查询所有已注册的邮箱-->
    <select id="getEmail" resultType="java.lang.String">
        select email from tb_user
    </select>

    <!--查询用户信息一共多少条数-->
    <select id="querryTotal" resultType="java.lang.Integer">
        SELECT count(1) FROM tb_user
    </select>

    <!--分页查询用户信息-->
    <select id="querryUserInfoLimit" parameterType="java.util.Map" 
            resultType="com.wml.entity.UserInfo">
        SELECT id,userName,password,realName,business,email,headPicture,addDate,updateDate,
        (CASE state
            WHEN '1' THEN '正常'
            WHEN '2' THEN '冻结'
            WHEN '3' THEN '删除'
            ELSE 'null' END ) as state
        from tb_user WHERE 1=1
        <if test="dataBegin != null">
            LIMIT #{dataBegin},#{showLine}
        </if>
    </select>

</mapper>
